<div id="accountInfo" class="pages">
    <form action="" id="regForm">
        <h1>Account Information</h1>
        <label for="fName">First Name:</label>
        <input class="input-fields semi-squere" type="textarea" id="fName">
        <label for="lName">Last Name:</label>
        <input class="input-fields semi-squere" type="textarea" id="lName">
        <label for="email">Email address:</label>
        <input class="input-fields semi-squere" type="email" id="email">
        <label for="pass">Old Password:</label>
        <input class="input-fields semi-squere" type="password" id="pass">
        <label for="newPass">New Password:</label>
        <input class="input-fields semi-squere" type="password" id="newPass">
        <label for="rePass">Repeat password:</label>
        <input class="input-fields semi-squere" type="password" id="rePass">
        <label for="address">Address for delivery:</label>
        <input class="input-fields semi-squere" type="textarea" id="address">
        <button type="submit" class="btn btn-default">Update info</button>
    </form>
</div>