<div id='cartContainer'>
    <div id='order'>
        <h2>ORDER CONFIRMATION</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>PRODUCT</th>
                        <th>QUANTITY</th>
                        <th>PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default"> Back to menu</button>
    </div>
    <div id='discount'>
        <h2>YOUR COUPONS</h2>
    </div>
    <div id='delivery'>
        <h2>DELIVERY DETAILS</h2>
    </div>
</div>