<div id="chooseProduct" class="modal fade" role="dialog">
    <div class="semi-squere">
        <img id="product" alt="">
        <h1 id="namePr"></h1>
        <div id="mores">
            <div id='slice'>
                    <label for="size">SIZE</label>
                    <select id="pizza-size" class="semi-squere" name="size_id">
                <option > Medium(6 Slices) </option>
                <option selected="selected">Large(8 Slices)</option>
                <option>Jumbo(12 Slices) </option>
            </select><br>
                    <label for="crust">CRUST</label>
                    <select id="crust-type" class="semi-squere" name="size_id">
                <option selected="selected" >Hand Tossed</option>
                <option>Italian style</option>
                <option>Thin crust</option>
            </select>
            </div>
            <h3>TOPPINGS</h3>
            <p id="topping"></p>
        </div>
    </div>
    <div id="quantity">
        <label for="quantity">QUANTITY</label><br>
        <button>
            <img src="assets/images/minus.png" alt="">
        </button>
        <p>1</p>
        <button>
            <img src="assets/images/plus.png" alt="">
        </button>
        <p id="price"></p>
        <button id="add">Add</button>
    </div>
</div>