<div class="pages" id="contactForm">
    <form id="cForm">
        <h1>Contact us</h1>
        <p>
            <h3>If you have any questions feel free to use our contact form and we will get back to you as soon as possible.</h3>
        </p>
        <label for="name">Enter your name:</label>
        <input type="textbox" class="input-fields semi-squere" id="name">
        <label for="email">Email address:</label>
        <input type="email" class="input-fields semi-squere" id="email">
        <label for="message">Your message:</label>
        <textarea name="Text1" cols="20" rows="5" id="message"></textarea>
        <button type="submit" class="btn btn-success">Submit request</button>
    </form>
</div>