<nav class="navbar navbar-default" id="navigationBar">
    <ul class="nav navbar-nav" id="navList">
        <li><a href="#deals" id="dealTab">DEALS</a></li>
        <li><a href="#pizzas" id='pizzaTab'>PIZZA</a></li>
        <li><a href="#chicken" id='chickenTab'>CHICKEN</a></li>
        <li><a href="#pasta" id="pastaTab">PASTA</a></li>
        <li><a href="#sandwiches" id='sandwichTab'>SANDWICHES</a></li>
        <li><a href="#sauces" id='sauceTab'>SAUCES</a></li>
        <li><a href="#deserts" id='desertTab'>DESERTS</a></li>
        <li><a href="#drinks" id='drinkTab'>DRINKS</a></li>
    </ul>

</nav>