    
    body{
        background-image: url("../images/background.jpg");
        background-size: stretch;
    }

    #header_content{
       
        height: 67px;
        z-index: 100;
        position: fixed;
        width: 100%;
    }

    .navbar-nav{
       margin-left: 2em;
    }

    #logo{
        height: 200px;
        margin-top: -65px;
        margin-left: 40px;
        float: left;

    }

    .nav_button{
        float: right; 
        position: absolute;

    }

    #phone  {
        width: 40px;
        float: left;
        position: absolute;
        right:25em;
        
    }

#spaceB{
    height: 67px;
}